.promo{
    background-color: #073042;
    min-height:524px;
    position:relative;
    justify-content: center;
}

.promo__logo{
    position: absolute;
    height: 320px;
width: 319.9964294433594px;
left: 480px;
top: 82px;
border-radius: 0px;

}

.promo__text{ 
    margin:0;
    padding:184px 275px 224px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 58px;
    color:#FFFFFF;
    text-align: center;
    letter-spacing: -0.04em;
    
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
width: 730px;

}