.promo{
    background-color: #073042;
    min-height:524px;
    position:relative;
    justify-content: center;    
}
@media screen and (max-width:1279px) {
    .promo {
      width:768px;
      min-height:784px; 
    }    
}

.promo__logo{
    position: absolute;
    height: 320px;
width: 320px;
left: 480px;
top: 82px;
border-radius: 0px;
}
@media screen and (max-width:1279px) {
.promo__logo{
    position: absolute;       
    right: 29.17%;
    bottom: 33.12%;
    height: 320px;
    width: 319.9964294433594px;
    left: 224px;
    top: 224px;
    right:224px;
}
}


.promo__text{ 
    margin:0;
    padding:184px 275px 224px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 58px;
    color:#FFFFFF;
    text-align: center;
    letter-spacing: -0.04em;    
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
width: 730px;
}
@media screen and (max-width:1279px) {
    .promo__text{ 
        padding:326px 9px 342px;
        font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    letter-spacing: -0.04em;
    border:0px;
    color: #FFFFFF;    
    }}