.aboutProject{   
    background-color: #FFFFFF;
    width:1140px;
    padding: 0 58px;
    margin:0 auto;
}

@media screen and (max-width: 1279px){
    .aboutProject{   
        background-color: #FFFFFF;
        width:668px;
        padding: 0 50px;
    }}

.aboutProject__title{
    width:1140px;
    text-align: start;
    margin:0;
    padding:110px 0 23px;
    border-bottom: 1px solid #000000;
    font-family: Inter, Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 27px;
/* identical to box height */

letter-spacing: -0.04em;

color: #000000;    
}

@media screen and (max-width: 1279px){
    .aboutProject__title{
        width:668px; 
        padding:90px 0 23px;
    }}

.aboutProject__step-title{
margin:70px 0 0;
text-align: start;
    font-family: Inter, Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 24px;
letter-spacing: -0.04em;

color: #000000;
}
.aboutProject__steps{
display: flex;
justify-content: space-between;
}

.aboutProject__step-description{
margin:26px 0 0;
text-align: start;
font-family: Inter, Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 20px;
color: #000000;
}

.aboutProject__progressRow{    
    display:flex;
    margin:03px 0 121px;
}
@media screen and (max-width: 1279px){
    .aboutProject__progressRow{    
        
        margin:119px 0 93px;
    }}
.aboutProject__backend{
    width:228px;    
}
.aboutProject__frontend{
    width:912px;    
}



.aboutProject__progress{
    font-family: Inter, Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
text-align: center;
color: #000000;
margin:0;
}
.aboutProject__progress-backend{
    background-color: #2BE080;
    padding: 9px 14px;    
}

@media screen and (max-width: 1279px){
    .aboutProject__progress-backend{        
        padding: 9px 13px;    
    }}

.aboutProject__progress-frontend{
    background-color: #F2F2F2;
    padding: 9px 356px;    
}

@media screen and (max-width: 1279px){
    .aboutProject__progress-frontend{        
        padding: 9px 202px;    
    }}

.aboutProject__progress-title{
    font-family: Inter, Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
width:100%;
text-align: center;
margin:14px 0 0;
color: #A0A0A0;
}
@media screen and (max-width: 1279px){
    .aboutProject__progress-title{        
        font-weight: 400; 
    }}



