.navTab{
    background-color:#000000;
    padding:25px 478px;
    
}

@media screen and (max-width: 1279px){
    .navTab{
    padding:24px 246px;
    width:calc(768px - 246px*2);    
}}



.navTab__link{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    text-decoration-line: underline;
    color: #FFFFFF;
    margin-right: 40px;    
}

.navTab__link:last-of-type{
    margin-right:0;
}


