.navTab{
    background-color:#000000;
    padding:25px 502px;
    
}



.navTab__link{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    
    
    
       
    text-decoration-line: underline;
    
    color: #FFFFFF;
    margin-right: 40px;    
}

.navTab__link:last-of-type{
    margin-right:0;
}


