.navTab{
    background-color:#000000;
    width: 320px;
    min-height: 66px;
    
}

@media screen and (max-width: 1279px){
    .navTab{
    padding:24px 246px;
    width:calc(768px - 246px*2);    
}}

@media screen and (max-width:767px) {
    .navTab{
        width:100%;
        max-width:320px;
        height:66px;
        padding:0;              
    }
}

.navTab__container{
    margin:25px auto;
}



.navTab__link{
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    text-decoration-line: underline;
    color: #FFFFFF;
    margin-right: 40px;    
}

@media screen and (max-width:767px) {
    .navTab__link{        
        font-size: 11px;        
        margin-right: 24px;    
    }
}

.navTab__link:last-of-type{
    margin-right:0;
}


