.moviesCardList{
    list-style: none;
    margin:70px 70px 0;
    padding:0;
    display: grid;
    grid-template-rows: 4;
    grid-template-columns: repeat(4, 270px);
    row-gap: 57px;
    column-gap: 20px;
    justify-content: center;
}


@media screen and (max-width:1279px) {
    .moviesCardList{       
        grid-template-rows: 4;
        grid-template-columns: repeat(2, 339px);          
    }}

    @media screen and (max-width:767px) {
        .moviesCardList{            
            margin:0 auto;            
            grid-template-rows: 5;
            grid-template-columns: repeat(1, 300px);
            row-gap: 34px;
            column-gap: 0;
            margin:70px auto 0;
            max-width: 300px;
               
        }}