.moviesCardList{
    list-style: none;
    margin:70px 70px 0;
    padding:0;
    display: grid;
    grid-template-rows: 4;
    grid-template-columns: repeat(4, 270px);
    row-gap: 57px;
    column-gap: 20px;
    justify-content: center;    
}